.description-container{
    margin: 50px 150px 50px 150px;
    padding: 70px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 80vw;
}
.ceci-container {
    margin: 20px;
}
.ceci-card {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.ceci-card img {
  max-width: 100px;
  border-radius: 0%;
  margin-right: 20px;
}

.ceci-info {
  text-align: left;
}

.ceci-info h2 {
  color: #333;
}

.ceci-info p {
  color: #555;
}

.title {
color: #7a2d82;
  font-size: 170%;
}