
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 100px 0px 300px;
}

.description-container{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    align-items: flex-start;
    text-align: left;
    max-width: 60vw;
    line-height: 1.5;
}

.text-description {
  font-weight: 700;
  text-align: left;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-justify: auto;
  max-width: 60%;
  margin-bottom: 60px;
  line-height: 1.5;
  max-width: 30vw;
  
}

.ceci-container {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img {
  height: 50vh;
  width: auto;
  border-radius: 0%;
  justify-content: center;
}

.ceci-info {
  text-align: center;
}

.ceci-info h2 {
  color: #333;
}

.ceci-info p {
  color: #555;
  line-height: 1.5;
}

.title2 {
color: #555;
  font-size: 170%;
  font-weight: 500;
}

.title1 {
  color:#7a2d82;
}

.img-producer {
  height: 55vh;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 50px;
}