.custom-carousel-container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden; /* Añade esto para evitar desbordamientos */
}

.custom-carousel-container img {
  width: 100%;
  height: 70vh;
  object-fit: cover; /* Esto mantendrá las proporciones y cubrirá completamente el contenedor */
}
