.title1 {
  color: #7a2d82;
  text-align: center;
  padding: 50px 50px 0px 50px;
}

.main-container {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.contact-form {
  padding: 30px;
  width: 100%; /* Ocupa el ancho completo del contenedor */
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

.submit-btn {
  @apply btn;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  background-color: #7a2d82;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px; /* Añade un margen superior para separar del formulario */
}

.submit-btn:hover {
  background-color: white;
  color: #7a2d82;
}

.location-container {
  margin: 80px 80px; /* Ajusta el margen superior e inferior */
  text-align: center;
  line-height: 25px; /* Centra el contenido horizontalmente */
}

.location {
  margin-bottom: 30px;
}
