.title2 {
  color: #7a2d82;
  text-align: center;
  font-size: 150%;
  padding: 0px 50px 0px 50px;
}

.title1 {
  color: #7a2d82;
  text-align: center;
 
  font-size: 175%;
  padding: 50px 50px 0px 50px;
}

.main-container {
  width: 100vw;
  margin: 0;
  padding: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 30vw;
  margin-bottom: 10%;

}

.contact-form-container {
  padding: 30px;
  margin: auto;
}

.submit-btn {
  @apply btn;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  background-color: #7a2d82;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px; /* Añade un margen superior para separar del formulario */
}

.submit-btn:hover {
  background-color: white;
  color: #7a2d82;
}

.inline-block {
  justify-content: center;
}