.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 60px;
}

.film-card {
  padding: 30px;
  max-width: 80vw;
  margin-bottom: 20px;
}

.other-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 20px auto 0;  
  max-width: 40vw;
}

.trailer {
  padding: 0px 10px 30px 10px;
  max-width: 50vw;
}

.card-title-1 {
  @apply card-title;
  color: #7a2d82;
  font-size: 170%;
}

/* Añadido para dar más espacio entre card-titles */
.card-title {
  margin-bottom: 3px;
}

.btn-other-links {
  @apply btn;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  background-color: #7a2d82;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-other-links:hover {
  background-color: white;
  color: #7a2d82;
}

