/* Header.css */

.home-page-container {
  position: relative;
}

.header-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff; /* Fondo normal por defecto */
}

/* Estilos para el fondo transparente del header en la HomePage */
.home-page-container.transparent-header .header-container {
  position: absolute;
  background-color: transparent;
  z-index: 2; /* Asegura que el Header esté en la capa superior solo en la HomePage con fondo transparente */
}

/* Anula el fondo en línea de Tailwind */
.home-page-container .navbar {
  background-color: transparent !important;
}

/* Z-index por defecto en el resto de páginas */
.header-container .navbar {
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logorci {
  height: auto;
  max-width: 200px;
}
